version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    ports:
      - "4000:3000"   # host:container
    environment:
      - MONGODB_URI=mongodb://mongo:27017/testdb
    depends_on:
      - mongo

  mongo:
    image: mongo:4.2.0
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo_data:
